@hback: #34495e;

@left : 10px;


@small: 5px;
@medium: 25px;
@large: 50px;

.v-pad-20 {
  padding: 20px 0;
}

.padder-10 {
  padding: 10px;
}
.m-b-20{
  margin-bottom: 20px;
}

.m-t-md {
  margin-top: @medium;
}
header {
  background: @hback;
  border-top: 3px solid #2b3c4e;
  border-bottom: 3px solid #2b3c4e;
  .v-pad-20;
  color: white;
}

tr {
  padding-left: @left;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 0px 0px 15px;
  background-color: #fff;
  border: none;
}

.list-group {
  margin-bottom: 0px;
  box-shadow: none;
}
.tb-tbody {
  border: 1px solid #ccc;
  height: 500px;
  overflow: auto;
}
.tb-tbody-inner{
  overflow : hidden;
}
.tb-rowTitles {
  background: #EEE;
  padding: 10px 0px 5px 16px;
  border: 1px solid #CCC;
  border-bottom: none;
}
.tb-th, .tb-td {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tb-th {
  font-weight: bold;
}
.tb-details {
  background: #ADD8E6;
  height: 623px;
  border: 1px solid #EEE;
  padding: 20px;
}
.tb-row-active {
  background: #ADD8E6;
}
.tb-footer {
  background: rgba(239, 239, 239, 0.51);
  border: 1px solid #CCC;
  border-top: none;
}

.form-comp {
  margin: 0 @medium;
}
.highlight {
  background-color: rgba(255, 255, 0, 0.53);
}


.expand-icon-holder{
  height:10px;
  width:20px;
  display:inline-block;
}