@hback: #34495e;

@left : 10px;


@small: 5px;
@medium: 25px;
@large: 50px;

.v-pad-20 {
  padding: 20px 0;
}

.m-b-20{
  margin:bottom: 20px;
}

.m-t-md {
  margin-top: @medium;
}
header {
  background: @hback;
  border-top: 3px solid #2b3c4e;
  border-bottom: 3px solid #2b3c4e;
  .v-pad-20;
  color: white;
}

tr {
  padding-left: @left;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 0px 0px 15px;
  background-color: #fff;
  border: none;
}

.list-group {
  margin-bottom: 0px;
  box-shadow: none;
}
.gridWrapper {
  border: 1px solid #ccc;
  margin-top: @large;
  padding: @medium;
  height: 600px;
  overflow: scroll;
}

.form-comp {
  margin: 0 @medium;
}
.highlight {
  background-color: rgba(255, 255, 0, 0.53);

}
.btn {
  margin : @small;
}